.module {
		  width: 300px;
		  margin: 0 0 1em 0;
		  overflow: hidden;
		  display: -webkit-box;
		  -webkit-line-clamp: 3;
		  -webkit-box-orient: vertical;
		}
.tr_text{
	font-weight: 600;
	color: #5a5c69;
}
.timeline{
	width: 100%;
	text-align: center;
}
.timeline td{
	width: 33%;  	 	
}
.text{
	color: blue;
}
