* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

.section-form {
  width: 100%;
  height: 951.06px
  margin: 3em auto;
  background-color: #f8f9fc;
  padding: 2em;
}
.section-form .intro {
  margin-bottom: 2em;
}
.section-form h1 {
  text-align: center;
  font-weight: 10px;
  margin-bottom: 0.6em;
}
.section-form h2 {
  text-align: center;
  font-size: 1.23077em;
}

input[type=text] {
  height: 45px;
}

input[type=text], textarea {
  width: 100%;
  margin-bottom: 1em;
  font-size: .9em;
  color: #cfcece;
  font-weight: 300;
  padding: .5em 1em;
  border: none;
  color: #555555;
  font-weight: 300;
}

input[type=button] {
  cursor: pointer;
  margin: 0;
  padding: .5em 2em;
  background: #636363;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}
